---
import { getCategories } from "@lib/get-categories";
import Products from "@layouts/LayoutProducts.astro";

// Obtener el parámetro dinámico
const { slug } = Astro.params;

// Lógica para obtener la información específica de la categoría
const category = await getCategories().then((categories) =>
  categories.find((c) => c.id_categorie.toString() === slug)
);

//Obtengo los productos de la categoria seleccionada
import { getProducts } from "@lib/get-products";
import ProductCard from "@components/resources/ProductCard.astro";
const allProducts = await getProducts(slug);
---

<Products title={category.name}>
  {
    allProducts[0] ? (
      allProducts.map((product) => {
        const { name, description, image, price, sku } = product;
        return (
          <ProductCard title={name} image={image.url} price={price} sku={sku}>
            {description}
          </ProductCard>
        );
      })
    ) : (
      <p class="text-orange-500 font-semibold grid place-content-center text-xl col-span-full text-center p-3 bg-yellow-50 dark:bg-neutral-700 shadow rounded-lg">
        ¡Lo siento, no hay ningun producto en esta categoria!
      </p>
    )
  }
</Products>
