---
import Title from "@components/resources/Title.astro";
import InfoCard from "./resources/InfoCard.astro";
import image1 from "/public/src/images/fireworksBanner.webp";
import image2 from "/public/src/images/christmas.webp";
import image3 from "/public/src/images/newyear.webp";
---

<section id="nosotros" class="pb-5 md:pb-10 px-2 scroll-m-[21rem] md:scroll-m-24">
  <Title title="Nuestra empresa" subtitle="Conocenos un poco mejor" />

  <article class="flex flex-col mt-5 md:flex-row md:items-center">
    <div class="flex flex-col gap-5 bg-yellow-50/50 dark:bg-neutral-900 rounded-2xl p-5 pb-24 md:p-10 md:pr-24">
      <p class="text-xl md:text-2xl font-bold text-pretty">
        En <span class="text-orange-500">FireWorks</span> ofrecemos calidad y variedad
        en pirotecnia insonora.
      </p>

      <div class="flex flex-col gap-3 text-neutral-500 infoOne">
        <div id="infoOne" class="active-card info-card infoOne">
          <InfoCard title="Innovación en Pirotecnia" className="infoOne">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi distinctio temporibus corrupti assumenda, hic, sunt eos ipsam dicta repellat ad perspiciatis. Recusandae consequatur quibusdam similique dolor officia quaerat nam ex.
          </InfoCard>
        </div>

        <div id="infoTwo" class="info-card infoTwo">
          <InfoCard title="La seguridad ante todo" className="infoTwo">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, temporibus quod. Impedit iste quod a, ratione dolores vero nobis eius possimus debitis suscipit. Ducimus nostrum explicabo aspernatur velit deleniti? Vitae?
          </InfoCard>
        </div>

        <div id="infoThree" class="info-card infoThree">
          <InfoCard title="Con más de 20 años de experiencia" className="infoThree">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos dolore consequuntur dolorum beatae quasi recusandae, hic tempora, ipsa ea assumenda sunt nisi. Ipsa, eum illo quaerat quod voluptate amet nam!
          </InfoCard>
        </div>
      </div>
    </div>

    <div
      id="image-info"
      data-image-1={image1.src}
      data-image-2={image2.src}
      data-image-3={image3.src}
      class="aspect-video md:aspect-auto m-5 bg-center bg-cover rounded-xl -mt-20 md:min-h-[28rem] md:-ml-16 md:mt-0 md:w-full"
      style=`background-image: url('${image1.src}')`
      title="La empresa"
    >
    </div>
  </article>
</section>

<style is:inline>
  .active-card button {
    background-color: #ffffee;
    border-radius: 0.75rem;
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
      0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }

  .active-card h4 {
    color: #f9781f;
  }

    html.dark .active-card button {
    background-color: #262626;
  }

</style>

<script is:inline>
  document.addEventListener("astro:page-load", () => {
    const cards = document.querySelectorAll(".info-card");
    const imageInfo = document.querySelector('#image-info')
    const image1 = imageInfo.getAttribute('data-image-1');
    const image2 = imageInfo.getAttribute('data-image-2');
    const image3 = imageInfo.getAttribute('data-image-3');


    cards.forEach((card) => {
      card.addEventListener("click", (e) => {
        cards.forEach((card) => {
          card.classList.remove("active-card");
        });
        card.classList.add("active-card");

        if(e.target.classList.contains('infoOne')) imageInfo.style = `background-image: url('${image1}')`;
        if(e.target.classList.contains('infoTwo')) imageInfo.style = `background-image: url('${image2}')`;
        if(e.target.classList.contains('infoThree')) imageInfo.style = `background-image: url('${image3}')`;

      });
    });
  });
</script>
