---
import TimeIcon from "./resources/icons/TimeIcon.astro";
---

<div class="flex flex-wrap w-full gap-4  justify-center *:xl:max-w-[32rem]">
  <div class="border-b border-neutral-300 w-full p-10 relative ">
    <div
      class="absolute top-0 left-0 flex flex-nowrap justify-center w-full gap-1"
    >
      <TimeIcon className="text-orange-500" />Solo faltan para <span class="font-semibold text-orange-500">Navidad</span>
    </div>
    <div
      id="counterNavidad"
      class="grid grid-cols-7 gap-3 justify-items-center font-bold text-5xl lg:text-6xl font-mono *:flex *:flex-col text-center *:gap-1"
    >
      <span>00<span class="text-counter">Días</span></span>:<span
        >00<span class="text-counter">Horas</span></span
      >:<span>00<span class="text-counter">Minutos</span></span>:<span
        >00<span class="text-counter">Segundos</span></span
      >
    </div>
  </div>

  <div class=" w-full p-10 relative">
    <div
      class="absolute top-0 left-0 flex flex-nowrap justify-center w-full gap-1"
    >
      <TimeIcon className="text-orange-500" />Solo faltan para <span class="font-semibold text-orange-500">Año Nuevo</span>
    </div>
    <div
      id="counterAñoNuevo"
      class="grid grid-cols-7 gap-3 justify-items-center font-bold text-5xl lg:text-6xl font-mono *:flex *:flex-col text-center *:gap-1"
    >
      <span>00<span class="text-counter">Días</span></span>:<span
        >00<span class="text-counter">Horas</span></span
      >:<span>00<span class="text-counter">Minutos</span></span>:<span
        >00<span class="text-counter">Segundos</span></span
      >
    </div>
  </div>



  <style is:inline>
    .text-counter {
      font-weight: 400;
      font-family: unset;
      font-size: large;
    }

  </style>

  <script>
    // Fecha objetivo
    const targetDateChristmas = new Date(
      "December 25, 2024 00:00:00"
    ).getTime();
    const targetDateNewYear = new Date("January 01, 2025 00:00:00").getTime();

    // Función que actualiza el contador
    function updateCountdown(targetDate, textEnd, idElement) {
      const now = new Date().getTime();
      const timeLeft = targetDate - now;

      if (timeLeft > 0) {
        const days = Math.floor(timeLeft / (1000 * 60 * 60 * 24));
        let hours = Math.floor(
          (timeLeft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
        );
        let minutes = Math.floor((timeLeft % (1000 * 60 * 60)) / (1000 * 60));
        let seconds = Math.floor((timeLeft % (1000 * 60)) / 1000);

        if (hours < 10) {
          //@ts-ignore
          hours = "0" + hours;
        }

        if (seconds < 10) {
          //@ts-ignore
          seconds = "0" + seconds;
        }

        if (minutes < 10) {
          //@ts-ignore
          minutes = "0" + minutes;
        }

        document.getElementById(idElement).innerHTML = `
           
          <span>${days}<span class="text-counter">Días</span></span>:<span
        >${hours}<span class="text-counter">Horas</span></span
      >:<span>${minutes}<span class="text-counter">Minutos</span></span>:<span
        >${seconds}<span class="text-counter">Segundos</span></span
      >
        `;
      } else {
        document.getElementById(idElement).innerHTML = textEnd;
        document.querySelectorAll(`.${idElement} h4`).forEach((element) => {
          element.classList.add("invisible");
        });
        clearInterval(countdownInterval); // Detener el contador
      }
    }

    // Actualizar el contador cada segundo
    const countdownInterval = setInterval(() => {
      updateCountdown(targetDateChristmas, "¡Feliz Navidad!", "counterNavidad");
      updateCountdown(
        targetDateNewYear,
        "¡Feliz Año Nuevo!",
        "counterAñoNuevo"
      );
    }, 1000);
  </script>
</div>
