---
import fireworksNavidad from "@components/resources/images/christmas3.webp";
import fireworksNewyear from "@components/resources/images/newyear3.webp";
---

<div class="flex flex-wrap w-full gap-4 font-poppins">
  <div
    class="relative rounded-3xl outline outline-2 outline-white dark:outline-neutral-200 dark:saturate-[0.9] saturate-[1.1] shadow-lg -outline-offset-[9px] w-full bg-black bg-center bg-cover flex items-center justify-center"
    style=`background-image: url('${fireworksNavidad.src}');`
  >
    <div
      class="counter text-white flex flex-col w-full gap-2 m-4 *:rounded-xl *:bg-gray-950/20 *:backdrop-blur-[1.5px]"
    >
      <div class="flex flex-col items-center py-7 gap-1 counterNavidad">
        <h4 class="text-xl md:text-2xl xl:text-3xl text-nowrap">
          TAN SOLO <span class="">FALTAN</span>
        </h4>
        <p
          id="counterNavidad"
          class="text-3xl xl:text-5xl text-center text-nowrap font-mono font-bold"
        >
          0 dias 00:00:00hs
        </p>
        <h4 class="text-xl md:text-2xl xl:text-3xl">
          PARA <span class="">NAVIDAD</span>
        </h4>
      </div>
    </div>
  </div>

  <div
    class="relative rounded-3xl outline outline-2 outline-white bg-gradient-to-r from-red-500 to-orange-600 dark:outline-neutral-200 dark:saturate-[0.9] saturate-[1.1] shadow-lg -outline-offset-[9px] w-full bg-black bg-center bg-cover flex items-center justify-center"
    style=`background-image: url('${fireworksNewyear.src}');`
  >
    <div
      class="counter text-white flex flex-col w-full gap-2 m-4 *:rounded-xl *:bg-gray-950/20 *:backdrop-blur-[1.5px]"
    >
      <div class="flex flex-col items-center py-7 gap-1 counterAñoNuevo">
        <h4 class="text-xl md:text-2xl xl:text-3xl text-nowrap">
          TAN SOLO <span class="">FALTAN</span>
        </h4>
        <p
          id="counterAñoNuevo"
          class="text-3xl xl:text-5xl text-center text-nowrap font-mono font-bold"
        >
          0 dias 00:00:00hs
        </p>
        <h4 class="text-xl md:text-2xl xl:text-3xl">
          PARA <span class="">AÑO NUEVO</span>
        </h4>
      </div>
    </div>
  </div>

  <style>
    .counter {
      text-shadow:
        1px 1px 0 #00000070,
        -1px 1px 0 #00000070,
        -1px -1px 0 #00000070,
        1px -1px 0 #00000070;
    }
  </style>

  <script>
    // Fecha objetivo
    const targetDateChristmas = new Date(
      "December 25, 2024 00:00:00"
    ).getTime();
    const targetDateNewYear = new Date("January 01, 2025 00:00:00").getTime();

    // Función que actualiza el contador
    function updateCountdown(targetDate, textEnd, idElement) {
      const now = new Date().getTime();
      const timeLeft = targetDate - now;

      if (timeLeft > 0) {
        const days = Math.floor(timeLeft / (1000 * 60 * 60 * 24));
        let hours = Math.floor(
          (timeLeft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
        );
        let minutes = Math.floor((timeLeft % (1000 * 60 * 60)) / (1000 * 60));
        let seconds = Math.floor((timeLeft % (1000 * 60)) / 1000);

        if (hours < 10) {
          //@ts-ignore
          hours = "0" + hours;
        }

        if (seconds < 10) {
          //@ts-ignore
          seconds = "0" + seconds;
        }

        if (minutes < 10) {
          //@ts-ignore
          minutes = "0" + minutes;
        }

        document.getElementById(idElement).innerHTML = `
          ${days} dias ${hours}:${minutes}:${seconds}hs
        `;
      } else {
        document.getElementById(idElement).innerHTML = textEnd;
        document.querySelectorAll(`.${idElement} h4`).forEach((element) => {
          element.classList.add("invisible");
        });
        clearInterval(countdownInterval); // Detener el contador
      }
    }

    // Actualizar el contador cada segundo
    const countdownInterval = setInterval(() => {
      updateCountdown(targetDateChristmas, "¡Feliz Navidad!", "counterNavidad");
      updateCountdown(
        targetDateNewYear,
        "¡Feliz Año Nuevo!",
        "counterAñoNuevo"
      );
    }, 1000);
  </script>
</div>
